

.home-container{
    
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  gap: 100px;
  
}

@media (max-width:900px){
  .home-container{
    flex-wrap:wrap-reverse;
    gap: 0px;
    margin-top: 20px;
  }

  .home-intro{
    margin-left: 30px;
    margin-right: 30px;
  }

  .home-image{
    display: none;
  }
}


.home-intro{
  
  max-width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  

}

.home-image{
    
  display: flex;
  justify-content: center;
  
}

.profile-image{
  width: 310px;
  border-radius: 10px;
  
}

@media (max-width:1000px){
  .profile-image{
    width: 340px;
    display: none;
  }
}


.first-intro{
  
}

.second-intro{
  margin-top: 10px;
  align-items: center;

 
}

.third-intro{
  margin-top: 10px;
  align-items: center;


 
}

.middle-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.howicanhelp{
    
    margin-top: 50px;
  
}
.arrow{
    
    margin-top: 7px;
    margin-left: 20px;

}





